---
import {getCollection} from "astro:content";

import Layout from "../../layouts/Layout.astro";
import {experimental_AstroContainer} from "astro/container";

const container = await experimental_AstroContainer.create();

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const postEntries = await getCollection("post");
    return postEntries.map((entry) => ({
        params: {slug: entry.slug},
        props: {entry},
    }));
}

// 2. For your template, you can get the entry directly from the prop
const {entry} = Astro.props;
const {Content} = await entry.render();
const contentString = await container.renderToString(Content);

// remove all html tags from content
const content = contentString.replace(/<[^>]*>?/gm, '');
---

<style>
    article :global(*) {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    }

    article :global(h2) {
        font-size: 26px;
        @apply mt-8 font-semibold;

    }

    article :global(p) {
        font-size: 16px;
        line-height: 26px;
        margin-top: 20px;
        @apply sm:px-8;
    }

    article :global(img) {
        @apply rounded-3xl w-full mx-auto my-10;
    }

</style>


<Layout title={entry.data.title} description={content}>
    <link slot="head" rel="canonical" href={"https://mladafrontavcera.cz/posts/" + entry.slug + "/"} />
    <script slot="head" type="application/ld+json" set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "headline": entry.data.title,
        "image": [
            entry.data.image.src
        ],
        "datePublished": entry.data.publishedAt.toISOString(),
        "dateModified": entry.data.publishedAt.toISOString(),
        "author": [
            {
                "@type": "Person",
                "name": entry.data.author
            }
        ]
    })}/>
    <div class="max-w-3xl mx-auto">
        <h1 class="text-5xl font-medium tracking-tight" id="article--title">{entry.data.title}</h1>
        <div class="mt-2">
            Napsal {entry.data.author}, {entry.data.publishedAt.toLocaleDateString()}
        </div>
        <hr class="mt-4"/>

        <article class="mt-4">
            <Content/>
        </article>
    </div>
</Layout>
